<h2>New Student</h2>

<%flash.each do |message|%>
    <p><%=message.full_messages%></p>
<%end%>

<%= form_for @student do |f|%>
    <%= f.label :name %>:
    <%= f.text_field :name %><br />
    <%= f.label :mod %>:
    <%= f.text_field :mod %><br />
    <%= f.submit %>

<%end%>